* {
    margin: 0;
    padding: 0;
}

.character {
    display: flex;
    
}

.name {
    font-size: 24px;
}

.imgBlock img {
    width: 154px;

    margin-right: 5px;
}
.textBlock span {
    margin-left: 5px;
}

.textBlock .title {
 
    color: rgba(0, 0, 0, 0.5);
}

.status {
    font-size: 12px;
}
.statusCircle {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgb(175, 214, 46);
}

.statusCircle.alive {
    background-color: rgb(85, 204, 68);
}

.statusCircle.dead {
    background-color: rgb(214, 61, 46);
}