.header {
  padding: 16px 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.header__link {
  color: inherit;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}