.navigation__link {
  position: relative;

  color: inherit;
  text-decoration: none;
}

.navigation__link + .navigation__link {
  margin-left: 16px;
}

.navigation__link_active::after {
  content: '';
  width: 100%;
  height: 2px;

  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;

  background-color: currentColor;
}
