.paginator {
    display: flex;
    justify-content: center;
}

button {
    margin:0 20px;

    border: 1px solid #000000;
    border-radius: 5%;
    background-color: #000000;
    color: #ffffff;

    height: 30px;
    width: 50px;
}

button:hover {
    box-shadow: 0 0 5px #2b2d42;
}